################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Banking/.vs/Banking/FileContentIndex/ef8923a4-4773-4067-8690-094603f99a9e.vsidx
/Banking/.vs/Banking/FileContentIndex/9e5b50fd-243f-44be-bd47-a35eb3efe625.vsidx
/Banking/.vs/Banking/FileContentIndex/ed4c05c8-f21b-4ecd-ad86-67ec3ea41c7e.vsidx
/Banking/.vs/Banking/FileContentIndex/edce7d7b-db38-4995-bbbc-d59d81b368bd.vsidx
/Banking/.vs/Banking/FileContentIndex/f725543b-7de4-4fcc-a6e6-0d82ec990649.vsidx
