@model Banking.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Register";
}
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
       
        <form class="login-form" id="login-form" asp-action="Register" asp-controller="Account">
            <h3 class="text-center my-3">Register Now</h3>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">First Name</label>
                <input asp-for="FirstName" class="form-control" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Middle Name</label>
                <input asp-for="MiddleName" class="form-control"  />
            </div>
            
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Last Name</label>
                <input asp-for="LastName" class="form-control"  />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Phone Number</label>
                <input asp-for="Phone" class="form-select" required />
                <span class="text-danger">@TempData["Invalid-Phone"]</span>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Bank</label>
                <select asp-for="BankId" class="form-control" required />
                <option value="" selected>Select Bank</option>
                @foreach (var bank in Model?.Banks)
                {
                    <option value=@bank.Id>@bank.Name</option>

                }
                </select>
            </div>


            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example2">Password</label>
                <input type="password" asp-for="Password" class="form-control" required />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
            <div>
                <a href="/Account/Login">Already have account. Click here</a>
            </div>

        </form>
    </div>
</div>

@section Scripts{
        <script>
                $(document).ready(function () {
                var ErrorMessage = '@TempData["ErrorMessage"]';
                if (ErrorMessage) {
                    showToast(ErrorMessage, "error");
                }
            });
    </script>
}
