@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.user-pp {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid #bdbac1;
    border-radius: 50%;
    padding: 3px;
}
.welcome-name {
    align-items: center;
    display: flex;
    margin-right: 10px;
}
.dashboard li {
    max-width: fit-content;
    width: fit-content;
}
.dashboard ul{
    min-width:0;
}
.dropdown-menu {
    transform: translate(-22px, 42px) !important;
}

.personal-info input {
    border: none;
    width: fit-content !important;
}

.personal-info input:focus{
    border:none;
}

.personal-info input:focus-visible {
    outline:none;
} 
.content {
    border: 1px solid #d7d1d163;
    border-radius: 10px;
    padding: 0 10px;
}
.search-img {
    width: 40px;
    height: 40px;
}
.btn-search-transaction {
    align-items: end;
    display: flex;
}
.user-list{
    height:90vh;
    overflow-y: auto;
}
.user-transaction a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
}