<div class="my-3 dashboard">
    <div class="d-flex justify-content-end nav-bar">
        <span class="welcome-name">Welcome, @ViewBag.Name</span>
        <div class="dropdown">
            <img src="~/images/user.png" class="user-pp dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" />
            <ul class="dropdown-menu p-0">
                <li><a class="dropdown-item" href="/Account/Logout"><b>Logout</b></a></li>
            </ul>
        </div>
    </div>
    <div class="content my-2">
        Admin
    </div>
</div>




@section Scripts {
    <script>

    </script>
}
